*:focused {
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
	-fx-default-button: transparent;
	-fx-body-color: transparent;
	/*-fx-inner-border: transparent;
	-fx-outer-border: transparent;*/
}

.root {
	/*-fx-font-size: 1.5rem;*/
	-fx-background-color: #eeebd3;
}

.mainframe {
}

.button {
	-fx-max-width: 999px;
	-fx-max-height: 999px;
	-fx-border-color: black;
	-fx-border-width: 1px;
	-fx-background-insets: 1px;
	-fx-cursor: hand
}

/*
   ****************************
   * Styling TabPane and Tabs *
   ****************************
*/

.tabs {
}

.tabs > .tab-header-area {
	-fx-padding: 0;
}

.tabs .tab {
	-fx-padding: 0 1em 0 1em;
	/*-fx-background-insets: 1;*/
	-fx-background-radius: 0;
	-fx-background-color: #104bb2; /*#0d7962;*/
	-fx-border-color: black;
	-fx-border-width: 1px;
	/*-fx-border-insets: 1;*/
	-fx-border-radius: 0;
}

.tabs .tab:selected {
	-fx-background-color: #091a67; /*#076854;*/
	/*-fx-background-insets: 0 0 4px 0;
	-fx-border-color: limegreen;
	-fx-border-width: 0 0 4px 0;
	-fx-border-insets: 0 1em 4px 1em;*/
}

/* .tabs .tab:selected .focus-indicator { -fx-border-width: 0; } */

.tabs .tab-label {
	-fx-text-fill: white;
}

.tabs .tab:selected  .tab-label {
	/*-fx-background-insets: 0 0 4px 0;*/
	-fx-border-color: white;
	-fx-border-width: 0 0 1px 0;
	/*-fx-border-insets: 0 1em 4px 1em;*/
}

.tabs > * {
	/*-fx-pref-height: 80px;*/
	/*-fx-background-color: lightblue;*/
}

.tabs .button {
	-fx-background-radius: 10px;
	-fx-border-radius: 10px;
	-fx-text-alignment: center;
	/*-fx-wrap-text: true;*/
}

/*
   ***************************
   * Styling Bon and Buttons *
   ***************************
*/

#bonview {
}

#bonview_amount_col, #bonview_price_col {
	-fx-alignment: center-right;
}

.controlarea {
	-fx-spacing: 5px;
}

#numpad {
	-fx-background-color: #eeebd3;
}

.controlarea .button {
	-fx-background-radius: 4px;
	/*-fx-border-insets: 1;*/
	-fx-border-radius: 4px;
}

.controlarea .button:armed {
	/*-fx-background-color: ;
	-fx-blend-mode: ;
	-fx-dropshadow: ;*/
	/*-fx-scale-x: 1.1;
	-fx-scale-y: 1.1;
	-fx-scale-z: 1.1;*/
}

.numbtn            { -fx-background-color: #DBDBDB; }
.acbtn             { -fx-background-color: #a8a8a8; }
#btn_remove        { -fx-background-color: #a8a8a8; }
#btn_inc, #btn_dec { -fx-background-color: #83e383; }
#btn_abort         { -fx-background-color: #fc7c46; }

#btn_pay {
	-fx-background-image: url(images/Cash_Icon.png);
	-fx-background-size: contain;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
}

#smallscreen {
	-fx-background-color: white;
	-fx-text-fill: #555;
	-fx-border-color: black;
	-fx-border-width: 1px;
	-fx-border-radius: 2px;
}

#btn_inc, #btn_dec {
	/*-fx-font-weight: 900;*/
	-fx-font-size: 2em;
	-fx-padding: -20;
	/*-fx-border-insets:    -2em 0 -2em 0;*/
}

